.App {
  text-align: center;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.card-body {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-card {
  padding: 15px;
}
